<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47B52A7025C03ABC006D5608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B52A8625C03ABE006D5608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B52A9125C03ABE006D5608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
